.icon200 {
	font-size: 200px;
}

.icon-tt {
	color: #aaa;
}

.color-twitch {
	color: #6441A4;
}

.color-innokas {
	color: #007e21;
}

.bg-twitch {
	background: #6441A411;
}

.footer-logo {
	width: 200px;
}

.footer {
	font-size: 0.9em;
	color: #111;
}
