<div class="innokas innokas-footer">

	<div class="innokas-footer-social">
		<a href="https://twitch.tv/teknologiakerho"
		   class="innokas-footer-social-icon innokas-footer-twitch">
			<i class='fab fa-twitch'></i>
			/teknologiakerho
		</a>

		<a href="https://twitter.com/hashtag/innokas2019" class="innokas-footer-social-icon innokas-footer-twitter">
			<i class='fab fa-twitter'></i>
			#innokas2019
		</a>

		<a href="https://github.com/teknologiakerho/innokas-tulospalvelu2019"
		   class="innokas-footer-social-icon innokas-footer-github">
			<i class='fab fa-github'></i>
			teknologiakerho/innokas-tulospalvelu2019
		</a>
	</div>

	<div class="innokas-footer-links">
		<a class="innokas-footer-logo innokas-footer-innokas" href="http://innokas.fi">
			<img src="{{url_for('public.static', filename='innokaslogo_fix_white.png')}}" />
		</a>

		<a class="innokas-footer-logo" href="http://teknologiakerho.fi">
			<img src="{{url_for('public.static', filename='kerhologo.png')}}" />
		</a>
	</div>

</div>

{# vim: set ft=htmldjango: #}
